<%-
include ('partials/head')
%>



    <%- include ('partials/navbar')%>

    <h1>Home Page: <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id, quae dolores, nam nihil recusandae totam eveniet obcaecati libero deserunt veritatis magnam praesentium cupiditate quisquam culpa? Quasi ipsam asperiores harum odio.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut odit, repellendus, voluptate numquam accusamus, quas tenetur eius quam asperiores quo distinctio labore tempora recusandae minima eos cupiditate ex sit facilis.</p>

    <h3> Your random number is:<%= Math.floor(Math.random()*10) + 1 %></h3>


<%- include ('partials/footer') %>